h1 {
    color: #67B5E8;
     font-family: 'Aclonica';
    font-size: 300%;
    background-color: #F5D7D9;
    border: 2px dotted blue;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-align: center;
}
body {
/*     background-size:cover */
background-size: 100% 131%;
    background-image:url("https://auchanetmoi.auchan.fr/api/v1/media_files/48746/media/798x449c")}
    
    .button {
    font-family: 'Aclonica';
    background-color: #F5D7D9;
    border: none;
    color: #67B5E8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
    width:100px;
    display: block;
    margin: 0 auto;
    border: 3px dotted white ;
}

.list{
    text-align: center;
}

.prac {
    opacity: 1;
    transition: 0.3s;
    color: white;
}

.prac:hover{
    opacity: 1;
}

.grid-container {
 display: grid;
 grid-template-columns: auto auto auto auto auto auto ;

 padding: 10px;
}
.grid-item {
 background-color: rgba(255, 255, 255,0);
 border: 1px solid rgba(0, 0, 0, 0);
 padding: 20px;
 font-size: 30px;
 text-align: center;
}

.dropbtn {
   font-family: 'Aclonica';
    background-color: #F5D7D9;
    color: #67B5E8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 3px dotted white ;
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
   z-index: 1;
}

.dropdown-content a {
   color: #348DBC;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {background-color: #F5C5D9; border-radius: 50%; color: #0011A8;}

.dropdown:hover .dropdown-content {display: block;  border-radius: 80%; color: #0011A8;}

.dropdown:hover .dropbtn {background-color: #F59CBC;color: #0011A8;}
